/logs
/data
/config/config.yaml
/web/**/node_modules
/web/**/dist
.env
.DS_Store

# Built binaries
/beyond-ads-dns
/perf-tester

# Coverage output
coverage.out
helm/beyond-ads-dns/charts/redis-20.13.4.tgz
