apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    jsonData:
      defaultDatabase: beyond_ads
      host: clickhouse
      port: 8123
      protocol: http
      username: beyondads
    secureJsonData:
      password: beyondads
